# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Quiz data
Data/Quizzen/*
!Data/Quizzen/.gitkeep

Data/QuizResults/*
!Data/QuizResults/.gitkeep

#Uploaded slide images
Data/SlideImages/*
!Data/SlideImages/.gitkeep


